body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
}

.forms__container {
  position: relative;
  max-width: 43rem;
  width: 100%;
  background: var(--secondary-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.forms__container .form {
  padding: 3rem;
}

.forms__container .form .form__title {
  position: relative;
}

.form .form__title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 3rem;
  background: var(--primary-color);
  border-radius: 25px;
}

.form .input-field {
  position: relative;
  height: 5rem;
  width: 100%;
  margin-top: 3rem;
  padding: 0 3rem;
  border: none;
  outline: none;
}

.input-field .form__email-input {
  position: absolute;
  height: 100%;
  width: 100%;
}

.input-field .form-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
